In [4]:
print("Hello Word!!");
print("Ola Mundo!!");

Hello Word!!
Ola Mundo!!

In [6]:
#variavel do tipo inteiro *int*
idade = 18
print(idade);

Informe a Idade:18
18

In [ ]:
#variavel do tipo real *float*
altura = 1.75;
print(altura);

In [7]:
#varivel do tipo de dado string(Texto) *string*
nome = "Marciano Antoniolli";
print(nome);

Marciano Antoniolli

In [11]:
#varivel do tipo de dado *boolean*
aprovado    = False;
reprovador  = True;
print(aprovado,reprovador);

False True

In [16]:
#exemplo de inputs

nome      = input("Informe seu Nome: ");
data_nasc = input("Informe sua data de Nasc: ");
idade     = input("Informe a sua Idade: ");
print(f"Nome: {nome} Data Nasc: {data_nasc} Idade: {idade}" );

Informe seu Nome: Marciano Moreira
Informe sua data de Nasc: 23/11/1987
Informe a sua Idade: 23
Nome: Marciano Moreira Data Nasc: 23/11/1987 Idade: 23

In [19]:
#como ver qual tipo da variavel

nome      = input("Informe seu Nome: ");
data_nasc = input("Informe sua data de Nasc: ");
idade     = int(input("Informe a sua Idade: "));
print(f"Nome: {nome} Data Nasc: {data_nasc} Idade: {idade}" );
print(type(nome),type(data_nasc),type(idade))

Informe seu Nome: MARCIANO
Informe sua data de Nasc: 23/11/1987
Informe a sua Idade: 37
Nome: MARCIANO Data Nasc: 23/11/1987 Idade: 37
<class 'str'> <class 'int'> <class 'str'>

In [20]:
valor     = 115.5;
nome      = "Marciano";
contador  = 0;
correto   = True;
print(type(valor),type(nome),type(contador),type(correto))

<class 'float'> <class 'str'> <class 'int'> <class 'bool'>

In [24]:
#operadores matematicos
numero1       = int(input("Informe o primeiro numero: "));
numero2       = int(input("Informe o segundo numero: "));
soma          = numero1 + numero2;
subt          = numero1 - numero2;
mult          = numero1 * numero2;
divisao       = numero1 / numero2;
divisao_int   = numero1 / numero2;
modulo        = numero1 % numero2;
exp           = numero1 ** numero2;
print("Soma           : ",soma);
print("Subtração      : ",subt);
print("Multiplicação  : ",mult);
print("Divisao        : ",divisao);
print("Divisao Inteira: ",divisao_int);
print("Modulo         : ",modulo);
print("Expoente       : ",exp);

Informe o primeiro numero: 50
Informe o segundo numero: 3
Soma           :  53
Subtração      :  47
Multiplicação  :  150
Divisao        :  16.666666666666668
Divisao Inteira:  16.666666666666668
Modulo         :  2
Modulo         :  125000

In [31]:
numero1       = int(input("Informe o primeiro numero: "));
numero2       = int(input("Informe o segundo numero: "));
print(numero1 + numero2);

Informe o primeiro numero: 2
Informe o segundo numero: 2
4